@font-face {
    font-family: 'Space_age';
    src:
        url('/assets/fonts/space_age/space_age.ttf')
        format('truetype');
}

@font-face {
    font-family: 'Nova Mono';
    src:
        url('/assets/fonts/Nova_Mono/NovaMono-Regular.ttf')
        format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    width: 100%;
    height: 100%;
}

#buttons-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 2%;
    width: 100%;
    height: 100px;
}

.planet-button {
    position: relative;
    font-family: 'Nova Mono';
    text-align: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
}

.planet-button img {
  position: absolute;
  opacity: 0.8;
}

.image1 {
    bottom: -30px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px #00b3ff;
    transform: rotateX(70deg);
}

.image2, .image3, .image4 {
    transition: bottom 3s, box-shadow 3s;
    bottom: -18px;
    width: 70%;
    height: 70%;
    transform: rotateX(70deg);
    border-radius: 50%;
    box-shadow: 0 0 5px #00b3ff;
    animation: rotateImage2 60s infinite linear;
}

@keyframes rotateImage2 {
    to {
        transform:  rotateX(70deg) rotate(360deg);
    }
}

.planet-button:hover .image2 {
    bottom: 6px;
    box-shadow:
        0 0 10px #00b3ff,
        0 0 15px #00b3ff;
    animation: rotateImage2-hover 2s forwards ease-in-out ;
}

@keyframes rotateImage2-hover {
    from {
        transform: rotateX(70deg) rotate(0deg) scale(1);
    }
    to {
        transform:  rotateX(70deg) rotate(1080deg) scale(1.2);
    }
}

.planet-button:not(:hover) .image2 {
    animation: rotateImage2-hover-out 2s forwards ease-in-out, rotateImage2 60s infinite linear;
}

@keyframes rotateImage2-hover-out {
    from {
        transform:  rotateX(70deg) rotate(1080deg) scale(1.2);
    }
    to {
        transform: rotateX(70deg) rotate(0deg) scale(1);
    }
}

.planet-button:hover .image3 {
    bottom: -2px;
    box-shadow:
        0 0 10px #00b3ff,
        0 0 15px #00b3ff;
    animation: rotateImage3-hover 2s 0.4s forwards ease-in-out;
}

@keyframes rotateImage3-hover {
    from {
        transform: rotateX(70deg) rotate(0deg) scale(1);
    }
    to {
        transform:  rotateX(70deg) rotate(1080deg) scale(1.1);
    }
}

.planet-button:not(:hover) .image3 {
    animation: rotateImage3-hover-out 2s forwards ease-in-out;
}

@keyframes rotateImage3-hover-out {
    from {
        transform:  rotateX(70deg) rotate(1080deg) scale(1.1);
    }
    to {
        transform: rotateX(70deg) rotate(0deg) scale(1);
    }
}

.planet-button:hover .image4 {
    bottom: -10px;
    box-shadow:
        0 0 10px #00b3ff,
        0 0 15px #00b3ff;
    animation: rotateImage4-hover 2s 0.8s forwards ease-in-out;
}

@keyframes rotateImage4-hover {
    from {
        transform: rotateX(70deg) rotate(0deg);
    }
    to {
        transform:  rotateX(70deg) rotate(1080deg);
    }
}

.planet-button:not(:hover) .image4 {
     animation: rotateImage4-hover-out 2s forwards ease-in-out;
}

@keyframes rotateImage4-hover-out {
    from {
        transform:  rotateX(70deg) rotate(1080deg);
    }
    to {
        transform: rotateX(70deg) rotate(0deg);
    }
}

.planet-text {
    position: absolute;
    transition: top 2s;
    top: 40px;
    color: white;
    font-size: 14px;
    text-shadow:
        0 0 10px #00b3ff,
        0 0 15px #00b3ff,
        0 0 15px #00b3ff,
        0 0 15px #00b3ff;
    pointer-events: none;
}

.planet-button:hover .planet-text {
    top: 16px;
}

.selected .planet-text{
    text-shadow:
        0 0 10px #00ffd5,
        0 0 15px #00ffd5,
        0 0 15px #00ffd5,
        0 0 15px #00ffd5;
    transition: all 2s ease-in-out, text-shadow 0.4s ease-in-out;
}

.selected .image1 {
    animation: rotateImage2 3s infinite linear;
}


#hudContainer {
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s;
    height: 100%;
}

.hudElement {
    position: absolute;
}

.hudElement img {
    opacity: 0.6;
}

.hudElement-1 {
    top: 4vh;
    left: 35%;
    transform: translateX(-50%);
    pointer-events: none;
}

.hudElement-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
        line-height: 60%;
        top: 21vh;
    left: 2%;
    width: 30%;
    height: 100%;
}

.hudElement-2 img, .hudElement-3 img {
  position: absolute;
  height: 55vh;
  width: 100%;
}

.hudKey {
    font-family: 'Nova Mono';
    position: relative;
    color: white;
    font-size: 19px;
    margin: 15px;
    top: 45px;
    left: -32px;
    text-align: center;
    text-shadow:
        0 0 10px #00b3ff,
        0 0 15px #00b3ff,
        0 0 15px #00b3ff,
        0 0 15px #00b3ff;
    cursor: pointer;
}

.hudElement-3 {
    top: 20vh;
    left: 59vw;
    width: 15vw;
    height: 58vh;
}

.hudElement-4 {
    top: 8vh;
    left: 75%;
    height: 17vh;
    margin-right: 10%;
    animation: skewHud4 2s both;
}

@keyframes skewHud4 {
    0% {
        transform: perspective(1000px) rotateX(-90deg) skew(0deg, 0deg);
        opacity: 0;
    }
    20% {
        transform: perspective(1000px) rotateX(-90deg) skew(0deg, 0deg);
        opacity: 0;
    }
    100% {
        transform: perspective(1000px) rotateX(0deg) rotateY(-20deg) skew(25deg, -5deg);
        opacity: 1;
    }
}

.hudElement-5 {
    top: 29vh;
    left: 79%;
    height: 17vh;
    margin-right: 5%;
    animation: skewHud5 2.5s 0.4s both;
}

@keyframes skewHud5 {
    0% {
        transform: perspective(1000px) rotateX(-90deg) skew(0deg, 0deg);
        opacity: 0;
    }
        20% {
        transform: perspective(1000px) rotateX(-90deg) skew(0deg, 0deg);
        opacity: 0;
    }
    100% {
        transform: perspective(1000px) rotateX(-20deg) rotateY(-15deg) skew(13deg, -7deg);
        opacity: 1;
    }
}

.hudElement-6 {
    top: 51vh;
    left: 79%;
    height: 17vh;
    margin-right: 5%;
    animation: skewHud6 2.5s 0.8s both;
}
@keyframes skewHud6 {
    0% {
        transform: perspective(1000px) rotateX(-90deg) skew(0deg, 0deg);
        opacity: 0;
    }
    20% {
        transform: perspective(1000px) rotateX(-90deg) skew(0deg, 0deg);
        opacity: 0;
    }
    100% {
        transform: perspective(1000px) rotateX(20deg) rotateY(-20deg) skew(-13deg, 7deg);
        opacity: 1;
    }
}

.hudElement-7 {
    top: 72vh;
    left: 75%;
    height: 17vh;
    margin-right: 10%;
    animation: skewHud7 2.5s 1.2s both;
}

@keyframes skewHud7 { 
    0% {
        transform: perspective(1000px) rotateX(-90deg) skew(0deg, 0deg);
        opacity: 0;
    }
    20% {
        transform: perspective(1000px) rotateX(-90deg) skew(0deg, 0deg);
        opacity: 0;
    }
    
    100% {
        transform: perspective(1000px) rotateX(0deg) rotateY(-25deg) skew(-25deg, 5deg);
        opacity: 1;
    }
}

.hudElement-4 img, .hudElement-5 img, .hudElement-6 img, .hudElement-7 img {
    width: 100%;
    height: 100%;
}

.hudElement-8 {
    top: 3vh;
    left: 3vw;
    height: 120px;
    width: 120px;
    animation: rotateAndScale 1.2s infinite linear;
}
.hudElement-8 img {
    width: 100%;
    height: 100%;
}

@keyframes rotateAndScale {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(288deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1.1);
    }
}

#planet-name {
    font-family: 'Space_age', sans-serif;
    color: white;
    margin: 0 auto;
    font-size: 75px;
    text-shadow:
        0 0 10px #00b3ff,
        0 0 15px #00b3ff,
        0 0 15px #00b3ff,
        0 0 15px #00b3ff;
}

@keyframes revealText {
    to {
        width: 100%;
    }
}

.hudValue {
    font-family: 'Nova Mono';
    font-size: 14px;
    letter-spacing: 0.1px;
    position: absolute;
    padding: 10px;
    margin: 0;
    color: white;
    text-shadow:
        0 0 10px #00b3ff,
        0 0 15px #00b3ff,
        0 0 15px #00b3ff,
        0 0 15px #00b3ff;
    pointer-events: none;
}

.hudValue-1, .hudValue-4, .hudValue-7, .hudValue-9 {
    top: 12px;
}
.hudValue-2, .hudValue-5 {
    top: 52px;
}
.hudValue-3, .hudValue-6 {
    top: 92px;
}
.hudValue-7 {
    top: 20px;
}
.hudValue-8 {
    top: 70px;
}
.hudValue-9 {
    top: 30px;
}
.hudValue-10 {
    top: 80px;
}
.hudValue-1, .hudValue-2, .hudValue-3, .hudValue-4, .hudValue-5, .hudValue-6 {
    left: 11%;
}
.hudValue-7, .hudValue-8, .hudValue-9, .hudValue-10 {
    left: 6%;
}

#loader {
    background: black;
    width: 100%;
    height: 100%;
    position:fixed;
    z-index:1;
    opacity: 1;
    transition: opacity 1s ease-in-out
}

#loader.hidden, #JokerContainer.hidden {
    opacity: 0;
    pointer-events: none;
}

#JokerContainer {
    position: absolute;
    bottom: 20px;
    left: 30px;
    z-index: 1;
}

#JokerContainer img {
    width: 60px;
    height: 60px;
}

#JokerContainer p {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    opacity: 0;
    animation: opacityPresentation 0.8s both;
    pointer-events: none;
    text-align: center;
    font-size: 50px;
    font-family: 'Space_age';
}

@keyframes opacityPresentation {
    to {
        opacity: 1;
    }
}